@page "/"
@attribute [Authorize]
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<h1>Welcome to Multiverse</h1>

@code {
    protected override Task OnInitializedAsync()
    {
        if (AccountService.SelectedWorld == null)
            NavigationManager.NavigateTo("/worlds");
        else
            NavigationManager.NavigateTo("/map");

        return Task.CompletedTask;
    }
}
