#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

.hexgrid {
    --hexwidth: 80px;
    --hexmargin: 2px;
    --hexheight: calc(var(--hexwidth) * 1.1547);
    font-size: 0;

    .hexrow {
        display: block;
        margin-bottom: calc(var(--hexmargin) - var(--hexwidth) * 0.2886);
    }

    .hexrow:nth-child(2n+1) {
        margin-left: calc((var(--hexwidth) + var(--hexmargin)) / 2);
    }

    .hex {
        text-align: center;
        vertical-align: middle;
        color: black;
        background-color: #dddddd;
        font-size: initial;
        display: inline-block;
        width: var(--hexwidth);
        margin: var(--hexmargin);
        height: var(--hexheight);
        //line-height: var(--hexheight);
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        cursor: pointer;

        &.fog-of-war {
            opacity: 0.3;
        }

        &.has-own-units {
            background-color: #a7e8b8;
        }

        &.has-enemy-units {
            background-color: #e8a7a7;
        }

        &.has-own-units.has-enemy-units {
            background-color: #e8a7e7;
        }
    }
}
